{
  "rules": {
    "indent": [2, 2],
    "quotes": [2, "single"],
    "linebreak-style": [2, "unix"],
    "semi": [2, "always"],
    "no-underscore-dangle": 0,
    "no-param-reassign": 0,
    "consistent-return": 0,
    "max-len": [1, 140, 4]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": "airbnb",
  "globals": {
    "afterEach": true,
    "assert": true,
    "beforeEach": true,
    "describe": true,
    "expect": true,
    "it": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  }
}
